* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

.title {
  margin: 24px 0 35px 0;
  /* text-align: center; */
}

.container {
  display: grid;
  grid-template-columns: 372px 320px;
  justify-content: center;
  gap: 3rem;
}

.input-area {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}


.data-form {
  margin-bottom: 3rem;
}

.campo {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  font-size: medium;
  color: rgb(143, 143, 143);
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 2rem;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 7px;
}

.reminder {
    display: inline-block;
}

.country-post {
    display: grid;
    grid-template-columns: 8rem 13rem;
}

.postal-code {
    margin-left: 1rem;
}

.button-div {
    display: flex;
    margin-right: 0;
    justify-content: end;
}

.button {
    color: white;
    background-color: goldenrod;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
}


.basket {
    background-color: rgb(225, 225, 225);
    padding: 1rem;
    padding-right: 4rem;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.products {
    display: grid;
    gap: 1rem;
}

.product {
    display: grid;
    grid-template-columns: 125px 125px;
}

img {
    width: 96px;
    height: 110px;
    border-radius: 5px;
}

strong {
    color: goldenrod;
}

.quantity-controller {
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.fa-minus, .fa-plus {
    background-color: rgb(187, 187, 187);
    padding: 4px;
    border-radius: 5px;
}

.price-info {
    margin-top: 3.5rem;
}

.shipping, .total {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}